

# load the Stage plugin simulation driver
driver
(
	name "stage"
	provides ["simulation:0" ]
	plugin "stageplugin"

	# load the named file into the simulator
	worldfile "donnie.world"
)
driver
(
  name "festival"
  provides ["speech:0"]
  language "spanish"
)
###############NOT WORKING################
#driver
#(
#  name "alsa"
#  provides ["audio:0"]
#  samples ["Anotherbeep.wav"]
#  mixerfilters ["master" "pcm" "capture"]
#)
################################################
driver
( 
  name "stage"
  provides ["position2d:0" "position2d:1" "ranger:0"  "bumper:0"]#"gripper:0""fiducial:0" "blobfinder:0" 
   model "donnie" 
)


#driver
#(
#	name "stage"
#	provides ["6666:position2d:1" "6666:ranger:3" "6666:blobfinder:0" ]
#	model "donnie_head" 
#)
