
# load the Stage plugin simulation driver
driver
(
	name "stage"
	provides ["simulation:0" ]
	plugin "stageplugin"

	# load the named file into the simulator
	worldfile "donnie.world"
)

driver
( 
  name "stage"
  provides ["position2d:0" "position2d:1" "ranger:0"  "bumper:0"]#"gripper:0""fiducial:0" "blobfinder:0" 
   model "donnie" 
)

driver
(
  name "soxplayer"
  plugin "libsoxplayer"
  provides ["sound:0"]
)


driver
(
  name "gtts"
  plugin "libgtts"
  requires ["sound:0"]
  provides ["speech:0"]
)


